html { 
  
}


*, h1{
    padding: 0px;
    margin: 0px;
    font-size: 80px;
}


.first{
    background: url(b.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
  
}
h1{
    font-size: 180%;
    font-weight: bold;
    padding: 5%;
}
.scroll_down a{
    position: fixed;
    left: 40%;
    bottom: 60%;
    background-color: black;
    opacity: 0.6;
    font-size: 25px;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}
.scroll_down1 a{
    position: fixed;
    left: 40%;
    bottom: 45%;
    background-color: black;
    opacity: 0.6;
    font-size: 25px;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}
.scroll_down2 a{
    position: fixed;
    left: 40%;
    bottom: 30%;
    background-color: black;
    opacity: 0.6;
    font-size: 25px;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}
.scroll_down3 a{
    position: fixed;
    left: 40%;
    bottom: 15%;
    background-color: black;
    opacity: 0.6;
    font-size: 25px;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}
.scroll_down:hover a:hover, .scroll_down1:hover a:hover ,.scroll_down2:hover a:hover, .scroll_down3:hover a:hover  {
    background-color: maroon;
    border: solid 2px white;
    text-decoration: none;
    
}

.player{
   position: relative;
   left:-10000px;
}
h2{
    text-align: center;
    position: relative;
    top: 40px;
    font-size: 50%;
    opacity: .8;
}
@media (max-width: 650px) {
    h2{
        font-size: 45%;
        top:20px;
    }
    .scroll_down a, .scroll_down1 a, .scroll_down2 a, .scroll_down3 a{
        left:15%;
       
      
    }
 }